.style-balloon-user{
  background-color: green;
}

.style-balloon-user-indicator{
  color: green;
}

.teste {
  color: green;
}

.rounded-theme.relative.mt-auto {
  max-width: 40px;
  max-height: 40px
}
